<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <title>主页</title>
	
</head>

<body >
	<!-- 头部 -->
    <span style="text-align: right;">欢迎进入系统，<span th:text="${userName}"></span></span>
    
</body>
<script src="/js/jquery-1.12.4.min.js"></script>
<script type="text/javascript">
$(function(){
	
})

</script>
</html>
